<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería_Nomadix</title>
    <link rel="stylesheet" href="../css/main.css">
    <meta name="description"
        content="Explora nuestra galería de mudanzas exitosas con Nomadix. Descubre imágenes de nuestros servicios profesionales y la satisfacción de nuestros clientes. ¡Tu mudanza segura empieza aquí!">
    <meta name="keywords" content="mudanzas nomadix, mudanzas galeria, nomadix galeria">
</head>

<body>
    <header> <!--Cabecera-->
        <div class="head">
            <div class="before_nav">
                <div class="box_texto">
                    <p>Contacta con Mudanzas Nomadix</p>
                    <div class="img_tel"><img class="tel" src="../imagenes/b56dfabb-c759-4c91-bb49-9335d37e29b1.png"
                            alt="contacto_icono" width="25" height="25"></div>
                    <p> 697 435 675 </p>
                </div>
            </div>
            <div class="menu_principal">
                <div class="cont_imgs">
                    <img class="camion" src="../imagenes/camion.png" alt="camion" width="300" height="150">
                    <img class="logo" src="../imagenes/logo1.png" alt="logo" width="600" height="150">
                </div>
                <nav class="nav"> <!--Menú de navegación-->
                    <ul class="lista_nav">
                        <li class="menu">
                            <a href="index.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/Home-Silhouette-PNG-Image.png" alt="icono_home" width="25"
                                    height="25"></a>
                            <a class="enlace" href="../index.html">Home</a>
                        </li>
                        <li class="menu">
                            <a href="Galeria.html" class="iconos_menu"><img class="wh_img" src="../imagenes/galeria.png"
                                    alt="icono_galería" width="25" height="25"></a>
                            <a class="indicador_pag" href="Galeria.html">Galería</a>
                        </li>
                        <li class="menu">
                            <a href="presupuesto.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/presupuesto(2).png" alt="icono_presupuesto" width="25"
                                    height="25"></a>
                            <a class="enlace" href="presupuesto.html">Presupuesto</a>
                        </li>
                        <li class="menu">
                            <a href="contacto.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/b56dfabb-c759-4c91-bb49-9335d37e29b1.png" alt="icono_contacto"
                                    width="25" height="25"></a>
                            <a class="enlace" href="contacto.html">Contacto</a>

                        </li>
                    </ul>
                    <button class="menu-icon" id="menu-icon" aria-label="Abrir menú">
                        &#9776; <!-- Símbolo de tres puntitos -->
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <main> <!--Cuerpo de la página web-->

        <section> <!--Seccion 1-->
            <div> <!--div 1 fondo fotos-->
                <div class="imgs_fondo">
                    <img src="../imagenes/fotos_gal/gal_fto1.webp" alt="Foto chico debajo de una pila de cajas "
                        width="1000">
                    <img src="../imagenes/fotos_gal/gal_fto2.jpeg"
                        alt="Foto chico con gorra cargando una pila de cajas en una furgoneta" width="500">
                    <img src="../imagenes/fotos_gal/gal_fto3.webp" alt="Niña dentro de una caja mirando hacia arriba"
                        width="500">
                    <img src="../imagenes/fotos_gal/gal_fto4.webp" alt="Niña dentro de una caja jugando con su hermana"
                        width="500">
                </div>
            </div>
            <div class="gal_sec1">
                <div>
                    <h2>Mudanzas sin estrés, con Nomadix</h2>
                    <hr>
                    <p>"En Nomadix, sabemos que mudarse puede ser un lío, pero con nosotros no tienes que preocuparte.
                        Nos encargamos de todo, para que solo te enfoques en lo que realmente importa: disfrutar de tu
                        nuevo hogar. Con un equipo de confianza y un trato cercano, hacemos que tu mudanza sea rápida,
                        fácil y sin estrés. ¡Hazlo con Nomadix y empieza tu nueva etapa sin complicaciones!"</p>
                    <a href="contacto.html" target="_blank">¡Llamanos!</a>
                </div>
                <div>
                    <img src="../imagenes/fotos_gal/gal_fto5.jpeg"
                        alt="Chica sonriente con una taza de café, de fondo tiene una pila de cajas de mudanza"> >
                </div>
            </div>
        </section>
        <section><!--Seccion 2 galería-->
            <div>
                <h2 class="tit txt_centro">Nuestro Trabajo</h2>
                <hr class="hr">
                <div class="ftoss">
                    <img src="../imagenes/fotos_gal/ftoss1.jpg"
                        alt="Cliente apretando la mano a un contratista de Nodamix" width="600">
                    <img src="../imagenes/fotos_gal/ftosss2.jpg" alt="Empleado de Nomadiz cerrando una caja con cinta"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss3.png"
                        alt=" Dos Empleados de Nomadix cargando una mudanza dentro de una furgoneta" width="600">
                    <img src="../imagenes/fotos_gal/ftoss4.jpg" alt="Dos empleados de Nomadix cargando un refrigerador"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss5.jpg" alt="Empleado Nomadix mirando como desarmar un armario"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss6.jpg" alt="Empleado de Nomadix desarmando una cocina"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss7.jpg" alt="Dos empleados de Nomadix desmontando una nevera"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss8.jpg"
                        alt="pilas de cajas, platas, alfombra enrrollada, lamapara envuelta. Objetos de mudanza"
                        width="600">
                    <img src="../imagenes/fotos_gal/ftoss9.jpg"
                        alt="Empleado de Nomadix hablando con un cliente mientras lleva una carretilla de carga con cajas"
                        width="600">
                </div>
            </div>
        </section>
        <section><!--Seccion 3-->
            <div class="gal_sec3 border20">
                <h2>Lo Que Ofrecemos</h2>
                <ul class="lista_menu">
                    <li><button data-category="rapido">Rápido</button></li>
                    <li><button data-category="facil">Fácil</button></li>
                    <li><button data-category="divertido">Divertido</button></li>
                    <li><button data-category="seguro">Seguro</button></li>
                    <li><button data-category="economico">Económico</button></li>
                </ul>
                <!--Contenido dinámico-->
                <div class="txt_menu">
                    <div class="contenido_din" id="contenido_din">
                        <div class="txt">
                            <h3>Rápido</h3>
                            <p>Mudanzas que no te harán perder el timpo.¡Nosotros nos encargamos de todo!</p>
                        </div>
                        <div class="fto_menu">
                            <img class="border20" src="../imagenes/fotos_gal/gal_fto11-rapido.jpg"
                                alt="cuatro imagenes: un reloj de arena, una pila de cajas y una furgoneta cargando una mudanza con objetos fragiles"
                                width="500">
                        </div>
                    </div>
                </div>
            </div>
            <div> <!--div 2 Fotos-->
                <div class="div_fotos">
                    <img src="../imagenes/fotos_gal/gal_fto19.jpg" alt="Una pareja de espaldas mirando hacia la ventada"
                        width="500">
                    <img src="../imagenes/fotos_gal/gal_fto15.jpg"
                        alt="Una nila dentro de una caja jugando con sus padres" width="500">
                    <img src="../imagenes/fotos_gal/gal_fto16.jpg"
                        alt="LLave de la puerta principal dentro de la cerradura y la puerta entre abierta" width="500">
                    <img src="../imagenes/fotos_gal/gal_fto17.jpg" alt="Dos trabajadores de Nomadix cargando una nevera"
                        width="500">
                    <img src="../imagenes/fotos_gal/gal_fto18.jpg" alt="Una familia observando su futura casa"
                        width="500">
                    <img src="../imagenes/fotos_gal/gal_fto14.jpg"
                        alt="Camión lleno de objetos de una mudanza junto a la puerta de una casa" width="500">
                </div>
            </div>
        </section>
        <section> <!--Seccion 4 Empleados-->
            <h2 class="tit">Conoce a Nuestro Equipo</h2>
            <hr class="hr">
            <div class="gal_sec4 txt_centro"> <!--Empleados-->
                <div>
                    <img src="../imagenes/fotos_gal/Diretor_ope.jpg" alt="Director de Operaciones" width="400">
                    <h4>Director de Operaciones</h4>
                    <p>Elena Marqués Fernández</p>
                </div>
                <div>
                    <img src="../imagenes/fotos_gal/atnc_cliente.jpg" alt="Responsable de Atención al Cliente"
                        width="400">
                    <h4>Responsable de Atención <br> al Cliente</h4>
                    <p>Lucas Rivas González</p>
                </div>
                <div>
                    <img src="../imagenes/fotos_gal/Jefe_logis.jpg" alt="Jefe de Logística y Transporte" width="400">
                    <h4>Jefe de Logística <br>y Transporte</h4>
                    <p>Sofía Delgado Ruiz</p>
                </div>
                <div>
                    <img src="../imagenes/fotos_gal/marketing.jpg" alt="Especialista en Marketing y Publicidad"
                        width="400">
                    <h4>Marketing y Publicidad</h4>
                    <p>Alejandro Torres Medina</p>
                </div>
                <div>
                    <img src="../imagenes/fotos_gal/eq_mudanza.jpg" alt="Supervisor de Equipos de Mudanzas" width="400">
                    <h4>Supervisor de Equipos <br> de Mudanzas</h4>
                    <p>Valeria Campos Navarro</p>
                </div>
            </div>

        </section>
    </main>
    <footer> <!--Pie de página-->
        <div class="ciudades txt_centro">
            <div>
                <h5>Mudanzas Nomadix</h5>
                <a href="https://www.google.com/maps" class="direccionn">Avinguda Real de Madrid, 102, Pobles del
                    Sud,Valencia</a>
                <p>Mudanzas Valencia, Servios de mudanzas, Emabalaje, Transporte, Seguridad, Trabajos
                    internacionales, Trabajos nacionales, Servicios personalizados</p>
                <h5>OFRECEMOS SERVICIOS DE MUDANZAS EN ESPAÑA</h5>
                <p>A coruña &#124; Albacete &#124; Alicante &#124; Almería &#124; Ávila &#124; Badajoz &#124; Barcelona
                    &#124; Bilbao &#124; Burgos &#124; Cáceres &#124; Cádiz &#124;
                    Castellón de la Plana &#124; Ceuta &#124; Ciudad Real &#124; Córdoba &#124; Cuenca &#124;
                    Donostia-San Sebastián &#124; Girona &#124; Granada &#124; Guadalajara &#124;
                    Huelva &#124; Huesca &#124; Jaén &#124; Jerez de la Frontera &#124; Gran Canaria &#124; León &#124;
                    Lleida &#124; Logroño &#124; Lugo &#124; Madrid &#124; Málaga &#124;
                    Melilla &#124; Murcia &#124; Ourense &#124; Oviedo &#124; Palma de Mollorca &#124; Pamplona &#124;
                    Salamanca &#124; Tenerife &#124; Santander &#124; Valencia </p>
            </div>
        </div>

        <div class="redes_sociales">
            <div>
                <ul class="documentacion"> <!--Documentación legal de la empresa-->
                    <li><a href="documentacion.html#aviso_legal">Aviso Legal</a></li>
                    <li><a href="documentacion.html#cond.generales">Condiciones generales de contratación</a></li>
                    <li><a href="documentacion.html#pol.priv">Política de privacidad</a></li>
                    <li><a href="documentacion.html#pol.cookies">Política de cookies</a></li>
                </ul>
            </div>
            <div>
                <ul class="iconos_redes"> <!--Enlaces que dirigen a las redes sociales de la empresa-->
                    <li><a href="https://es-es.facebook.com/"><img class="icon_redes" src="../imagenes/facebook.png"
                                alt="facebook" width="60"></a></li>
                    <li><a href="https://www.instagram.com/"><img class="icon_redes" src="../imagenes/instagram.png"
                                alt="Instagram" width="60"></a></li>
                    <li><a href="https://es.linkedin.com/"><img class="icon_redes" src="../imagenes/linkedin.png"
                                alt="Linkedin" width="60"></a></li>
                    <li><a href="https://www.youtube.com/"><img class="icon_redes" src="../imagenes/youtube.png"
                                alt="Youtube" width="60"></a></li>
                </ul>
            </div>
        </div>

    </footer>
    <!--Datos para cambiar dinámicamente-->
    <script src="../js/script.js"></script>
</body>

</html>